<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">
    
    <div th:replace="/fragments/header :: header"></div>
    
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    
    <div class="dashboard-wrapper">
        
        <div class="dashboard-ecommerce">
            
            <div class="container-fluid dashboard-content">
                
                <div class="ecommerce-widget">
                    
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-12">
                            
                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Project Update</h2>
                                </header>
                                
                                <div class="panel-body">
                                    
                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate
                                          th:action="@{/project/update/{projectcode}(projectcode=${project.projectCode})}"
                                          method="post" th:object="${project}">
                                        <div class="row">
                                            <div class="col-md-12 mb-12">
                                                <label for="projectname">Project Name</label>
                                                <input type="text" class="form-control" id="projectname"
                                                       th:field="*{projectName}" required>
                                                <div class="invalid-feedback">
                                                    Valid first name is required.
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-12">
                                                <label for="projectcode">Project Code</label>
                                                <input type="text" class="form-control" id="projectcode"
                                                       th:field="*{projectCode}" readonly >
                                                <div class="invalid-feedback">
                                                    Valid last name is required.
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12 mb-12">
                                                <label for="role">Assigned Manager</label>
                                                <select class="custom-select d-block w-100" id="role" name="role"
                                                        th:field="*{assignedManager}" required>
                                                    <option value="">Select ...</option>
                                                    <option th:each="manager:${managerlist}"
                                                            th:value="${manager.userName}"
                                                            th:text="${manager.firstName+' '+manager.lastName}"
                                                            th:selected="${manager.userName.equals(project.assignedManager.userName)}">
                                                    </option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select a valid manager.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-6">
                                                <label for="startdate">Project Start Date</label>
                                                
                                                <input id="startdate" type="date" th:field="*{startDate}" required>
                                                <div class="invalid-feedback">
                                                    Project start date is required field.
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-6 ">
                                                <label for="enddate">Project End Date</label>
                                                <input id="enddate" type="date" th:field="*{endDate}" required>
                                                <div class="invalid-feedback">
                                                    Project end date is required field.
                                                </div>
                                            </div>
                                            
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 mb-12">
                                                        <label for="projectDetails">Project Details</label>
                                                        <textarea type="text" class="form-control" id="projectDetails"
                                                                  th:field="*{projectDetails}" required></textarea><br>
                                                        <div class="invalid-feedback">
                                                            Project details is required field.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 mb-12 fa-pull-right">
                                                        <button class="btn btn-success btn-sm fa-pull-right"
                                                                type="submit">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->
                                
                                </div>
                            
                            </section>
                        
                        </div>
                    
                    </div>
                
                </div>
                
                
                <!-- ------------------------TABLE START----------------------------- -->
                
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Project List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Project Code</th>
                                                <th>Project Name</th>
                                                <th>Start / End Date</th>
                                                <th>Manager</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="aProject:${projectlist}">
                                                <td th:text="${aProject.projectCode}"></td>
                                                <td th:text="${aProject.projectName}"></td>
                                                <td
                                                        th:text="${#temporals.format(aProject.startDate, 'MM/dd/yyyy')
                                                        +'-'+#temporals.format(aProject.endDate, 'MM/dd/yyyy')}"></td>
                                                <td th:text="${aProject.assignedManager.firstName+' '+aProject.assignedManager.lastName}"></td>
                                                <td th:text="${aProject.projectStatus.getValue()}"></td>
                                                <td>
                                                    <a th:href="@{/project/update/{projectcode}(projectcode=${aProject.projectCode})}"
                                                       class="btn btn-warning btn-sm rounded-0" >Update</a>
                                                    <a th:href="@{/project/delete/{projectcode}(projectcode=${aProject.projectCode})}"
                                                       class="btn btn-danger btn-sm rounded-0" type="submit">Delete</a>
                                                    <a class="btn btn-info btn-sm rounded-0" type="submit">Complete</a>
                                                
                                                </td>
                                            </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                
                <!-- ------------------------TABLE END----------------------------- -->
            
            </div>
        
        </div>
    
    </div>
    
    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
