<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">
    
    <div th:replace="/fragments/header :: header"></div>
    
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    
    <div class="dashboard-wrapper">
        
        <div class="dashboard-ecommerce">
            
            <div class="container-fluid dashboard-content">
                
                <div class="ecommerce-widget">
                    
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-12">
                            
                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task Assign</h2>
                                </header>
                                
                                <div class="panel-body">
                                    
                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate th:action="@{/task/create}" method="post"
                                          th:object="${task}">
                                        <div class="row">
                                            <div class="col-md-12 mb-12">
                                                <label for="project">Project</label>
                                                <select class="custom-select d-block w-100" id="project" name="project"
                                                        required th:field="*{project}">
                                                    <option value="">Select ...</option>
                                                    <option th:each="project:${projectlist}"
                                                            th:value="${project.projectCode}"
                                                            th:text="${project.projectCode+' - '+project.projectName}"></option>
                                                
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select a project.
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-12">
                                                <label for="assignEmployee">Assigned Employee</label>
                                                <select class="custom-select d-block w-100 " id="assignEmployee"
                                                        name="assignEmployee" required th:field="*{assignedEmployee}">
                                                    <option value="">Select ...</option>
                                                    <option th:each="user:${employeelist}" th:value="${user.userName}"
                                                            th:text="${user.firstName+' '+user.lastName+' ('+user.role.description+')'}"></option>
                                                
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select an employee to assign.
                                                </div>
                                            
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12 mb-12">
                                                <label for="taskSubject">Task Subject</label>
                                                <input type="text" class="form-control" id="taskSubject" required
                                                       th:field="*{taskSubject}">
                                                <div class="invalid-feedback">
                                                    Please enter a task subject.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 mb-12">
                                                        <label for="details">Details</label>
                                                        <textarea type="text" class="form-control" id="details" required
                                                                  th:field="*{details}"></textarea>
                                                        <div class="invalid-feedback">
                                                            Please enter a details.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12 mb-12 fa-pull-right">
                                                <button class="btn btn-success btn-sm fa-pull-right" type="submit">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    
                                    
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->
                                
                                </div>
                            
                            </section>
                        
                        </div>
                    
                    </div>
                
                </div>
                
                
                <!-- ------------------------TABLE START----------------------------- -->
                
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Project</th>
                                                <th>Task Subject</th>
                                                <th>Assigned Employee</th>
                                                <th>Assigned Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="task:${tasklist}">
                                                <td th:text="${task.id}" hidden="true"></td>
                                                <td th:text="${task.project.projectCode+' - '+task.project.projectName}"></td>
                                                <td th:text="${task.taskSubject}"></td>
                                                <td th:text="${task.assignedEmployee.firstName+' '+task.assignedEmployee.lastName}"></td>
                                                <td th:text="${#temporals.format(task.assignedDate, 'MM/dd/yyyy hh:mm')}"></td>
                                                <td th:text="${task.status.getValue()}"></td>
                                                <td>
                                                    <a th:href="@{/task/update/{id}(id=${task.id})}"
                                                       class="btn btn-warning btn-sm" type="submit">Update</a>
                                                    <a th:href="@{/task/delete/{id}(id=${task.id})}"
                                                       class="btn btn-danger btn-sm" type="submit">Delete
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                
                <!-- ------------------------TABLE END----------------------------- -->
            
            </div>
        
        </div>
    
    </div>
    
    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
