<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">
    
    <div th:replace="/fragments/header :: header"></div>
    
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    
    <div class="dashboard-wrapper">
        
        <div class="dashboard-ecommerce">
            
            <div class="container-fluid dashboard-content">
                
                <div class="ecommerce-widget">
                    
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-12">
                            
                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User Create</h2>
                                </header>
                                
                                <div class="panel-body">
                                    
                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form class="needs-validation" novalidate th:action="@{/user/create}" method="post"
                                    th:object="${user}">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="firstName">First name</label>
                                                <input type="text" class="form-control" id="firstName" placeholder=""
                                                       value="" required th:field="*{firstName}">
                                                <div class="invalid-feedback">
                                                    Please enter a first name !!!
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="lastName">Last name</label>
                                                <input type="text" class="form-control" id="lastName" placeholder=""
                                                       value="" required  th:field="*{lastName}">
                                                <div class="invalid-feedback">
                                                    Please enter a last name !!!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="useremail">Email</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-fw fas fa-at"></i>
                                                </span>
                                                    </div>
                                                    <input type="text" class="form-control" id="useremail"
                                                           placeholder="email address" required  th:field="*{userName}">
                                                    <div class="invalid-feedback">
                                                        Please enter an email !!!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="userPhNum">Phone Number</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-fw fa-phone"></i>
                                                </span>
                                                    </div>
                                                    <input type="text" class="form-control" id="userPhNum"
                                                           placeholder="phone number" required pattern="^\d{10}"
                                                           th:field="*{phone}">
                                                    <div class="invalid-feedback">
                                                        Please enter 10 digit mobile number !!!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="password">Password</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" id="password"
                                                           placeholder="password"  th:field="*{password}"
                                                           required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" >
                                                    <div class="invalid-feedback" style="width: 100%;">
                                                        Password not strong enough
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="confirmPassword">Password Confirmation</label>
                                                <div class="input-group">
                    
                                                    <input type="password" class="form-control" id="confirmPassword" placeholder="re-enter password"
                                                           required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"
                                                           th:field="*{password}">
                                                    <div class="invalid-feedback" style="width: 100%;">
                                                        Please re-enter password !!!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label >Gender</label>
                
                                                <div class="custom-control custom-radio">
                                                    <input id="genderMale" name="gender" type="radio"
                                                           class="custom-control-input" checked=""
                                                           th:field="*{gender}" th:value="MALE">
                                                    <label class="custom-control-label" for="genderMale">Male</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input id="genderFemale" name="gender" type="radio" class="custom-control-input" required=""
                                                           th:field="*{gender}" th:value="FEMALE">
                                                    <label class="custom-control-label" for="genderFemale">Female</label>
                                                </div>
            
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <label for="role">Role</label>
                                                <select class="custom-select d-block w-100" id="role"
                                                        th:field="*{role}">
                                                    <option th:value="''" th:text="Select"></option>
                                                    <option th:each="selectRole:${rolelist}"
                                                            th:value="${selectRole.id}"
                                                            th:text="${selectRole.getDescription()}"></option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mb-12">
                                                <button class="btn btn-success btn-sm fa-pull-right" type="submit">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->
                                
                                </div>
                            
                            </section>
                        
                        </div>
                    
                    </div>
                
                </div>
                
                
                
                <!-- ------------------------TABLE START----------------------------- -->
                
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead >
                                            <tr>
                                                <th>Name</th>
                                                <th>E-Mail(username)</th>
                                                <th>Gender</th>
                                                <th>Phone</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user:${userlist}">
                                                <td th:text="${user.firstName+' '+user.lastName}"></td>
                                                <td th:text="${user.userName}"></td>
                                                <td th:text="${user.gender.getValue()}"></td>
                                                <td th:text="${user.phone}"></td>
                                                <td th:text="${user.role.description}"></td>
                                                <td>
                                                    <a th:href="@{/user/update/{id}(id=${user.userName})}">
                                                        <button class="btn btn-info btn-sm" type="submit">Update</button>
                                                    </a>
                                                    <a th:href="@{/user/delete/{id}(id=${user.userName})}">
                                                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                
                <!-- ------------------------TABLE END----------------------------- -->
            
            </div>
        
        </div>
    
    </div>
    
    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
